spring:
  kafka:
    template:
      default-topic: taskManager.request
    consumer:
      group-id: gatewayConsumer
      bootstrap-servers: localhost:9092

app-kafka:
  topicName: gateway.request
  partitions: 1
  replicas: 1
